@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #9d00ff;
    color: #fefefe;
}

html {
    min-width: 360px;
    scroll-behavior: smooth;
}

#__next {
    @apply bg-[#F0F0F0] dark:bg-[#0c0c0c];
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
    content: '';
    margin-bottom: -0.098em;
    display: table;
}

.capsize::after {
    content: '';
    margin-top: -0.219em;
    display: table;
}

.skip-nav {
    @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

#skip {
    scroll-margin-top: 1.125rem;
}

@supports not (backdrop-filter: none) {
    .sticky-nav {
        backdrop-filter: none;
        @apply bg-opacity-100;
    }
}

code[class*='language-'],
pre[class*='language-'] {
    @apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.rehype-code-title {
    @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t-lg dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}

.rehype-code-title + pre {
    @apply mt-0 rounded-t-none;
}

.highlight-line {
    @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.metric-card > a {
    @apply no-underline;
}

.metric-card > p {
    @apply my-2;
}

.step > h3 {
    @apply my-0;
}

table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
}
